<form action="/photos/edit/<%= photo.id %>" method="POST">
  <p>Comment: <input type="text" name="comment" value="<%= photo.comment %>" /></p>
  <p>Place: <input type="text" name="place" value="<%= photo.place %>" /></p>
  <button type="submit">Update</button>
</form>