
<div class="login-wrapper">
  <div class="login-box">
    <img src="/images/water-drop.png" alt="Docker Logo" class="logo" /> <!--  이미 satic 의 위치를 /public 으로 지정해 놓았으므로로  -->
    <h2>Sign in</h2>
    <p class="login-description">
      Using Docker for work? We recommend signing in with your work email address.
    </p>

    <% if (error) { %>
      <div class="login-error"><%= error %></div>
    <% } %>

    <form method="POST" action="/login">
      <input type="text" id="username" name="username" placeholder="Username or email address" required class="input-field" />
      <input type="password" id="password" name="password" placeholder="Password" required class="input-field" />
      <button type="submit" class="btn-primary">Continue</button>
    </form>

    <div class="login-divider">OR</div>

    <div class="social-login">
      <button class="btn-social google">
        <a href="/">Never mind !</a>
      </button>      
    </div>

    <p class="signup-text">
      <!-- Don't have an account? <a href="/signup">Sign Up</a> -->
    </p>
  </div>
</div>
